RCON_PASS=StrongPassword
MC_PORT=25565
LIVEKIT_PORT=4123
PROM_URL="https://prometheus-instance.grafana.net/api/prom/push"
PROM_USER=123456
PROM_PASS=token
R2_ACCESS_ID=123abc
R2_SECRET_KEY=123abc
R2_ENDPOINT="https://123abc.r2.cloudflarestorage.com"
