global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'minecraft-server'
    static_configs:
      - targets: ['mc-server:9940']

remote_write:
  - url: "{{ lookup('env', 'PROM_URL') }}"
    basic_auth:
      username: "{{ lookup('env', 'PROM_USER') }}"
      password: "{{ lookup('env', 'PROM_PASS') }}"
