[r2]
type = s3
provider = Cloudflare
access_key_id = {{ lookup('env', 'R2_ACCESS_ID') }}
secret_access_key = {{ lookup('env', 'R2_SECRET_KEY') }}
endpoint = {{ lookup('env', 'R2_ENDPOINT') }}
acl = private
